@model IEnumerable<CSMPMWeb.Models.AppUserToOrganization>

@{
    ViewData["Title"] = "Выбор текущей организации";
}

<h1>Выбор текущей организации</h1>

<p>
    <a asp-action="CreateRequestToAddingToOrganization" class="btn btn-primary">Сформировать запрос на присоединение к организации</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.IsUserSelectedAsCurrent)
            </th>
            <th>Роли</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{
                string classBold = "";
            }
            @if (item.IsUserSelectedAsCurrent)
            {
                classBold = "font-weight-bold";
            }
            <td class="@classBold">
                @item.Organization.OrganizationName
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.IsUserSelectedAsCurrent)
            </td>
            <td>
                @foreach (var assignedPermission in item.AssignedPermissions)
                {
                    <p>@assignedPermission.OrganizationToSystemModule.SystemModule.SystemModuleName - @assignedPermission.SystemRole.SystemRoleName</p>
                }
            </td>
            <td>
                @if (!item.IsUserSelectedAsCurrent)
                {
                    <a asp-action="SelectCurrentOrganization" asp-route-id="@item.AppUserToOrganizationId" class="btn btn-primary">Выбрать</a>
                    <a asp-action="CreateRequestToRemovingToOrganization" asp-route-id="@item.AppUserToOrganizationId" class="btn btn-danger">Отсоединить организацию</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
