@model CSMPMWeb.Models.AppUserToOrganization

@{
    ViewData["Title"] = "Назначение ролей пользователям";
}

<h1>Назначение ролей пользователям</h1>
<h4>@Model.Organization.OrganizationName</h4>
<h4>@Model.AppUser.GetFullName</h4>
<p>
    <a asp-action="AppUserAssignedPermissionCreate" asp-route-appUserToOrganizationId="@Model.AppUserToOrganizationId" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                Модуль
            </th>
            <th>
                Роль
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssignedPermissions.OrderBy(ap=>ap.OrganizationToSystemModule.SystemModule.SystemModuleName)) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationToSystemModule.SystemModule.SystemModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemRole.SystemRoleName)
            </td>
            <td>
                <a asp-action="AppUserAssignedPermissionEdit" asp-route-assignedPermissionId="@item.AssignedPermissionId" class="btn btn-primary">Редактировать</a>
                <a asp-action="AppUserAssignedPermissionDelete" asp-route-assignedPermissionId="@item.AssignedPermissionId" class="btn btn-danger">Удалить</a>
            </td>
        </tr>}
    </tbody>
</table>

<a asp-action="AppUsers" asp-route-id="@Model.OrganizationId" class="btn btn-primary">Назад</a>