@model CSMPMWeb.Models.OrganizationToSystemModule

@{
    ViewData["Title"] = "Отсоединение модуля";
}

<h1>Отсоединение модуля от организации</h1>

<h3>Вы действительно хотите отсоединить модуль?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemModule.SystemModuleName)
        </dd class>
    </dl>
    
    <form asp-action="UnbindModule">
        <input type="hidden" asp-for="OrganizationToSystemModuleId" />
        <input type="hidden" asp-for="OrganizationId" />
        <input type="hidden" asp-for="SystemModuleId" />
        <input type="submit" value="Отсоединить" class="btn btn-danger" />
        <a asp-action="SystemModules" asp-route-id="@Model.OrganizationId" class="btn btn-secondary">Отмена</a>
    </form>
</div>
