@model CSMPMLib.IrrigationPlanItem_LandAreaNotAgriculturalReason

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IrrigationPlanItem.IrrigationPlan.OrganizationDocumentationPlans.OrganizationDocumentation.Organization.OrganizationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IrrigationPlanItem.IrrigationPlan.OrganizationDocumentationPlans.OrganizationDocumentation.Organization.OrganizationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IrrigationPlanItem.IrrigationPlan.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IrrigationPlanItem.IrrigationPlan.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason.ReasonName)
        </dd>
    </dl>

    <form asp-action="LandAreaNotAgriculturalReasonDeleteConfirmed">
        <input type="hidden" name="irrigationPlanItem_LandAreaNotAgriculturalReasonId" value="@Model.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="LandAreaNotAgriculturalReasons" asp-route-irrigationPlanItemId="@Model.IrrigationPlanItemId" class="btn btn-secondary">Отмена</a>
    </form>
</div>
