@model CSMPMLib.IrrigationPlan

@{
    ViewData["Title"] = "Preview";
}

<h1>План поливов</h1>

<div>
    <h4>@Model.OrganizationDocumentationPlans.OrganizationDocumentation.Organization.OrganizationName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            УИД плана
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IrrigationPlanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>        
    </dl>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Оросительная система</th>
                <th>Наличие земель на 01.01.19, тыс. га</th>
                <th>Сельхозиспользовано, тыс. га</th>
                <th>Не сельхозиспользовано, тыс. га</th>
                <th>Включено в план полива, тыс. га</th>
                <th>Не будет поливаться, тыс. га</th>
                <th>Посевная площадь, тыс. га</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var irrigationPlanItem in Model.IrrigationPlanItems)
            {
                double landAreaOnBeginningOfYear = irrigationPlanItem.LandAreaOnBeginningOfYear / 1000;
                double landAreaAgriculturalUse = irrigationPlanItem.LandAreaAgriculturalUse / 1000;
                double landAreaNotAgriculturalUse = landAreaOnBeginningOfYear - landAreaAgriculturalUse;
                double landAreaIncludedInIrrigationPlan = irrigationPlanItem.LandAreaIncludedInIrrigationPlan / 1000;
                double landAreaNotIncludedInIrrigationPlan = landAreaOnBeginningOfYear - landAreaIncludedInIrrigationPlan;
                double landAreaSowing = irrigationPlanItem.LandAreaSowing / 1000;

                double otherLandAreaIncludedInIrrigationPlan = landAreaIncludedInIrrigationPlan - irrigationPlanItem.IrrigationPlanItem_CropSowingAndIrrigations.Sum(item => item.Irrigation) / 1000;
                double otherLandAreaSowing = landAreaSowing - irrigationPlanItem.IrrigationPlanItem_CropSowingAndIrrigations.Sum(item => item.Sowing) / 1000;

                <tr class="table-success">
                    <td>@irrigationPlanItem.IrrigationSystem.IrrigationSystemName</td>
                    <td>@landAreaOnBeginningOfYear</td>
                    <td>@landAreaAgriculturalUse</td>
                    <td>@landAreaNotAgriculturalUse</td>
                    <td>@landAreaIncludedInIrrigationPlan</td>
                    <td>@landAreaNotIncludedInIrrigationPlan</td>
                    <td>@landAreaSowing</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="6">в том числе по культурам</td>
                </tr>

                @foreach (var cropSowingAndIrrigationGroup in irrigationPlanItem.IrrigationPlanItem_CropSowingAndIrrigations.GroupBy(c => c.Crop.CropGroup.CropGroupName))
                {
                    double cropSowingAndIrrigationGroupSumIrrigation = cropSowingAndIrrigationGroup.Sum(cg => cg.Irrigation) / 1000;
                    double cropSowingAndIrrigationGroupSumSowing = cropSowingAndIrrigationGroup.Sum(cg => cg.Sowing) / 1000;
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">@cropSowingAndIrrigationGroup.Key</td>
                        <td colspan="2">@cropSowingAndIrrigationGroupSumIrrigation</td>
                        <td>@cropSowingAndIrrigationGroupSumSowing</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>в том числе</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    @foreach (var cropSowingAndIrrigation in cropSowingAndIrrigationGroup)
                    {
                        double irrigation = cropSowingAndIrrigation.Irrigation / 1000;
                        double sowing = cropSowingAndIrrigation.Sowing / 1000;
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@cropSowingAndIrrigation.Crop.CropName</td>
                            <td colspan="2">@irrigation</td>
                            <td>@sowing</td>
                        </tr>
                    }
                }

                @if (otherLandAreaIncludedInIrrigationPlan > 0)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">Другое</td>
                        <td colspan="2">@otherLandAreaIncludedInIrrigationPlan</td>
                        <td>@otherLandAreaSowing</td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td colspan="6">причины неиспользования земель по сельхозназначению</td>
                </tr>

                @foreach (var landAreaNotAgriculturalReason in irrigationPlanItem.IrrigationPlanItem_LandAreaNotAgriculturalReasons)
                {
                    double landAreaNotAgriculturalReasonArea = landAreaNotAgriculturalReason.Area / 1000;

                    <tr>
                        <td></td>
                        <td></td>
                        <td>@landAreaNotAgriculturalReason.Reason.ReasonName</td>
                        <td>@landAreaNotAgriculturalReasonArea</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

                double landAreaNotAgriculturalReasonOther = landAreaNotAgriculturalUse - irrigationPlanItem.IrrigationPlanItem_LandAreaNotAgriculturalReasons.Sum(r => r.Area) / 1000;
                string areaLess0 = "";
                if (landAreaNotAgriculturalReasonOther < 0)
                {
                    areaLess0 = "text-danger";
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td>Другое</td>
                    <td class="@areaLess0">@landAreaNotAgriculturalReasonOther</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>



                <tr>
                    <td></td>
                    <td colspan="6">причины отсутствия полива</td>
                </tr>

                @foreach (var landAreaNotIrrigationReason in irrigationPlanItem.IrrigationPlanItem_LandAreaNotIrrigationReasons)
                {
                    double landAreaNotIrrigationReasonArea = landAreaNotIrrigationReason.Area / 1000;

                    <tr>
                        <td></td>
                        <td></td>
                        <td>@landAreaNotIrrigationReason.Reason.ReasonName</td>
                        <td></td>
                        <td></td>
                        <td>@landAreaNotIrrigationReasonArea</td>
                        <td></td>
                    </tr>
                }

                double landAreaNotIrrigationReasonOther = landAreaNotIncludedInIrrigationPlan - irrigationPlanItem.IrrigationPlanItem_LandAreaNotIrrigationReasons.Sum(r => r.Area) / 1000;
                string areaNotIrrigationLess0 = "";
                if (landAreaNotIrrigationReasonOther < 0)
                {
                    areaNotIrrigationLess0 = "text-danger";
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td>Другое</td>
                    <td></td>
                    <td></td>
                    <td class="@areaNotIrrigationLess0">@landAreaNotIrrigationReasonOther</td>
                    <td></td>                    
                </tr>

            }
        </tbody>
    </table>

</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
