
@{
    ViewData["Title"] = "TransformerDUSelection";
}

<h1>Лабораторная работа</h1>
<h2>Исследование режима напряжения сельской радиальной сети и выбор надбавок у трансформаторов</h2>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    1 Цель работы
                </button>
            </h2>
        </div>

        <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
            <div class="card-body">
                Экспериментально определить потери напряжения в сети, отклонение напряжения у потребителей, составить таблицу и диаграммы отклонений напряжения и выбрать оптимальные надбавки у силовых трансформаторов 10/0.4 кВ
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    2 Программа работы
                </button>
            </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
            <div class="card-body">
                <p>2.1 Изучить режимы напряжения сельской радиальной сети</p>
                <p>2.2 Изучить способы регулирования напряжения в сельских электрических сетях</p>
                <p>2.3 Изучить причины потерь напряжения на участках сети, определить отклонения напряжения у потребителей, выбрать оптимальные, с точки зрения уровня напряжения у потребителей, надбавки для трансформаторов 10/0.4 кВ.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    3 Указания по подготовке к выполнению работы
                </button>
            </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    4 Порядок выполнения работы
                </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading5">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    5 Содержание отчета
                </button>
            </h2>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading6">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    6 Контрольные вопросы
                </button>
            </h2>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading7">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Литература
                </button>
            </h2>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>

<br />

<h4>Рисунок 1 - Схема радиальной электрической сети</h4>
<img src="~/img/VirtLabs/elsnab_lab1_fig1.jpg" width="1000" />


<form method="post">
    <h4>Таблица 1 - Результаты измерений напряжений</h4>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th rowspan="3" scope="col">Место измерений</th>
                <th colspan="4">Напряжение в точке, В</th>
            </tr>

            <tr>
                <th colspan="2">Для удаленного ТП6 при нагрузке</th>
                <th colspan="2">Для ближайшего ТП2 при нагрузке</th>
            </tr>

            <tr>
                <th>100 %</th>
                <th>25 %</th>
                <th>100 %</th>
                <th>25 %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Точка 2</th>
                <td>
                    <input type="text" name="p2_tp6_100" value="@ViewBag.p2_tp6_100" />
                </td>
                <td>
                    <input type="text" name="p2_tp6_25" value="@ViewBag.p2_tp6_25" />
                </td>
                <td>
                    <input type="text" name="p2_tp2_100" value="@ViewBag.p2_tp2_100" />
                </td>
                <td>
                    <input type="text" name="p2_tp2_25" value="@ViewBag.p2_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка 3</th>
                <td>
                    <input type="text" name="p3_tp6_100" value="@ViewBag.p3_tp6_100" />
                </td>
                <td>
                    <input type="text" name="p3_tp6_25" value="@ViewBag.p3_tp6_25" />
                </td>
                <td>
                    <input type="text" name="p3_tp2_100" value="@ViewBag.p3_tp2_100" />
                </td>
                <td>
                    <input type="text" name="p3_tp2_25" value="@ViewBag.p3_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка 4</th>
                <td>
                    <input type="text" name="p4_tp6_100" value="@ViewBag.p4_tp6_100" />
                </td>
                <td>
                    <input type="text" name="p4_tp6_25" value="@ViewBag.p4_tp6_25" />
                </td>
                <td>
                    <input type="text" name="p4_tp2_100" value="@ViewBag.p4_tp2_100" />
                </td>
                <td>
                    <input type="text" name="p4_tp2_25" value="@ViewBag.p4_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка 5</th>
                <td>
                    <input type="text" name="p5_tp6_100" value="@ViewBag.p5_tp6_100" />
                </td>
                <td>
                    <input type="text" name="p5_tp6_25" value="@ViewBag.p5_tp6_25" />
                </td>
                <td>
                    <input type="text" name="p5_tp2_100" value="@ViewBag.p5_tp2_100" />
                </td>
                <td>
                    <input type="text" name="p5_tp2_25" value="@ViewBag.p5_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка 6</th>
                <td>
                    <input type="text" name="p6_tp6_100" value="@ViewBag.p6_tp6_100" />
                </td>
                <td>
                    <input type="text" name="p6_tp6_25" value="@ViewBag.p6_tp6_25" />
                </td>
                <td>
                    <input type="text" name="p6_tp2_100" value="@ViewBag.p6_tp2_100" />
                </td>
                <td>
                    <input type="text" name="p6_tp2_25" value="@ViewBag.p6_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка "а" на низковольтной сети 0,38 кВ</th>
                <td>
                    <input type="text" name="pa_tp6_100" value="@ViewBag.pa_tp6_100" />
                </td>
                <td>
                    <input type="text" name="pa_tp6_25" value="@ViewBag.pa_tp6_25" />
                </td>
                <td>
                    <input type="text" name="pa_tp2_100" value="@ViewBag.pa_tp2_100" />
                </td>
                <td>
                    <input type="text" name="pa_tp2_25" value="@ViewBag.pa_tp2_25" />
                </td>
            </tr>

            <tr>
                <th scope="row">Точка "б" на низковольтной сети 0,38 кВ</th>
                <td>
                    <input type="text" name="pb_tp6_100" value="@ViewBag.pb_tp6_100" />
                </td>
                <td>
                    <input type="text" name="pb_tp6_25" value="@ViewBag.pb_tp6_25" />
                </td>
                <td>
                    <input type="text" name="pb_tp2_100" value="@ViewBag.pb_tp2_100" />
                </td>
                <td>
                    <input type="text" name="pb_tp2_25" value="@ViewBag.pb_tp2_25" />
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</form>

<br />
<h4>Таблица 2 - Таблица отклонений напряжения</h4>
<table class="table">
    <thead class="text-center">
        <tr>
            <th rowspan="3" colspan="3" scope="col">Элементы сети</th>
            <th colspan="4">Отклонения и потери напряжения на элементах сети, %</th>
        </tr>

        <tr>
            <th colspan="2">Наиболее удаленного ТП6 при нагрузке</th>
            <th colspan="2">Ближайшего ТП2 при нагрузке</th>
        </tr>

        <tr>
            <th>100 %</th>
            <th>25 %</th>
            <th>100 %</th>
            <th>25 %</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="3" scope="row">Шины 10 кВ</th>
            <td>
                <input type="text" name="p2_tp6_100" value="0" />
            </td>
            <td>
                <input type="text" name="p2_tp6_25" value="0" />
            </td>
            <td>
                <input type="text" name="p2_tp2_100" value="0" />
            </td>
            <td>
                <input type="text" name="p2_tp2_25" value="0" />
            </td>
        </tr>

        <tr>
            <th rowspan="4" colspan="2" scope="row">Потери напряжения в линии 10 кВ</th>
            <th>2-3</th>
            <td>@ViewBag.dU23_tp6_100</td>
            <td>@ViewBag.dU23_tp6_25</td>
            <td>@ViewBag.dU23_tp2_100</td>
            <td>@ViewBag.dU23_tp2_25</td>
        </tr>

        <tr>
            <th>3-4</th>
            <td>@ViewBag.dU34_tp6_100</td>
            <td>@ViewBag.dU34_tp6_25</td>
            <td>@ViewBag.dU34_tp2_100</td>
            <td>@ViewBag.dU34_tp2_25</td>
        </tr>

        <tr>
            <th>4-5</th>
            <td>@ViewBag.dU45_tp6_100</td>
            <td>@ViewBag.dU45_tp6_25</td>
            <td>@ViewBag.dU45_tp2_100</td>
            <td>@ViewBag.dU45_tp2_25</td>
        </tr>

        <tr>
            <th>5-6</th>
            <td>@ViewBag.dU56_tp6_100</td>
            <td>@ViewBag.dU56_tp6_25</td>
            <td>@ViewBag.dU56_tp2_100</td>
            <td>@ViewBag.dU56_tp2_25</td>
        </tr>

        <tr>
            <th rowspan="3" scope="row">ТП 10/0,4 кВ</th>
            <th rowspan="2">Надбавки</th>
            <th>Нерегулируемая</th>
            <td>+5</td>
            <td>+5</td>
            <td>+5</td>
            <td>+5</td>
        </tr>

        <tr>
            <th>Регулируемая</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <th colspan="2">Потери</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>


        <tr>
            <th colspan="3" scope="row">Потери в линии 0,38 кВ</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <th colspan="3" scope="row">Напряжение у потребителя</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <th colspan="3" scope="row">Предельно допустимые отклонения</th>
            <td>
                -10
            </td>
            <td>
                +10
            </td>
            <td>
                -10
            </td>
            <td>
                +10
            </td>
        </tr>
    </tbody>
</table>



<h4>Рисунок 2 - Диаграмма отклонений напряжений</h4>

<canvas id="myCanvas" width="800" height="200"
        style="background-color:#eee; border:1px solid #ccc;">
    Ваш браузер не поддерживает Canvas
</canvas>

@{
    int y = 15;
}

<script>
    var canvas = document.getElementById("myCanvas"),
        context = canvas.getContext("2d");
    context.beginPath();
    context.moveTo(30, @y);
    context.lineTo(150, 140);
    context.lineTo(250, 30);
    context.closePath();
    context.strokeStyle = "red";
    context.stroke();
</script>